.horizontalCard {
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	overflow: hidden;
	min-width: 250px;
	background-color: hsl(var(--yellow));
	color: hsl(var(--yellow-foreground));
}

.horizontalCard .image {
	background-position: center;
	background-size: cover;
	background-color: #eee;

	aspect-ratio: 1;
	width: 78px;
}

.horizontalCard .body {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 10px;
	color: #2c292d;
}